@import "../../../../variables.scss";

.db-select {
  display: flex;
  align-items: center;
  height: $baseHeightSharedComponent;
  font-size: $baseFontSize;
  font-family: $baseFont;
  border: 1px solid $baseBlack;

  & > select {
    min-width: 200px;
    height: 100%;
    cursor: pointer;
    outline: none;
  }
}
