<!-- Object Table-->
<table mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8">

  <ng-container matColumnDef="object">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
          Объект
    </th>
    <td mat-cell
        *matCellDef="let element">
          {{element.object}}
    </td>
  </ng-container>

  <ng-container matColumnDef="taskCount">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
          Количество задач
    </th>
    <td mat-cell
        *matCellDef="let element">
          {{element.taskCount}}
    </td>
  </ng-container>

  <ng-container matColumnDef="objectResult">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
          Результат объекта
    </th>
    <td mat-cell
        *matCellDef="let element">
          {{element.objectResult}}
    </td>
  </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="displayedColumns">
  </tr>
  <tr mat-row
      *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>