@import "../../../variables.scss";

.db-objects-page {
  width: 80%;
  margin: 0 auto;

  &-control {
    border: 1px solid $baseBlack;
    padding-bottom: 20px;
    background-color: $baseGray;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

    & * {
      margin: 20px 0 0 20px;
    }
  }

  &-buttons {
    margin: 20px 10px 25px 20px;
  }
}
