$baseWhite: #fff;
$baseBlack: #000;
$baseGray: #f2f2f2;

$baseFont: 'Arial';
$baseFontSize: 20px;

$baseHeightSharedComponent: 40px;

$primaryButtonColor: #A3C644;
$secondaryButtonColor: #666;

$hoverLinkColor: #0F535E;

$navigationBackgroundColor: #39C2D7;
